body {
  font-family: "Manrope", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2726;
  padding: 10px 30px;
}

.logo img {
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item a {
  color: #faf3e8;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 300;
}

.menu-item a.active {
  font-weight: 600;
}

.menu-item a:hover {
  font-weight: 500;
  transition: 0.3s ease;
}

.contact-button {
  text-decoration: none;
  color: #faf3e8;
  background-color: #c68a47;
  padding: 0.5rem 2.88rem;
  border-radius: 1.25em;
}

.contact-button:hover {
  color: #c68a47;
  background-color: #faf3e8;
  border: 0.1rem solid #c68a47;
}

section.hero-homepage {
  background-image: url(../img/HomePage/Header.png);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100%;
  padding: 8rem 2rem;
  position: relative;
  color: #faf3e8;
  text-align: center;
}

section.hero-homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(183, 177, 177, 0.3);
  z-index: 0;
}

section.hero-homepage article {
  position: relative;
  z-index: 1;
}

section.hero-homepage h1 {
  font-size: 3.5rem;
  margin: 0;
}

section.hero-homepage h2 {
  font-weight: 200;
  margin-bottom: 3rem;
}

section.hero-homepage a.button {
  background-color: #c68a47;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #faf3e8;
  padding: 0.5rem 1.5rem;
  border-radius: 2em;
  font-size: 0.9rem;
}

section.hero-homepage a.button:hover {
  color: #2f2726;
  background-color: #faf3e8;
  border: 0.1rem solid #2f2726;
}

section.intro {
  background-color: #faf3e8;
  color: #2f2726;
  text-align: center;
  max-width: 80%;
  margin: -4rem auto 5rem auto;
  padding: 2rem 2rem;
  position: relative;
  z-index: 2;
}

section.intro h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0;
}

section.intro span {
  color: #c68a47;
}

section.intro p {
  line-height: 150%;
  padding: 0 4rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* -------------------------------
   Why Learn Section
--------------------------------- */

section.why-learn {
  text-align: center;
  color: #2f2726;
  margin-bottom: 3rem;
}

section.why-learn h3 {
  font-size: 2rem;
  font-weight: 700;
}

section.why-learn > section {
  display: inline-block;
  width: 18rem;
  overflow: hidden;
  padding: 0 1.5rem;
}

/* -------------------------------
   What You'll Learn Section
--------------------------------- */

section.learn {
  background-color: #faf3e8;
  text-align: center;
  color: #2f2726;
  padding: 1rem;
}

section.learn > h3 {
  font-size: 2rem;
}

section.learn > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  margin: 1rem 10rem;
}

section.learn > section > section {
  background-color: white;
  border-radius: 1rem;
  width: 18rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  padding-bottom: 3rem;
}

section.learn img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 12rem;
  object-fit: cover;
  display: block;
}

section.learn h6 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #2a1f19;
  margin: 1rem 0 0.5rem 0;
}

section.learn p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem auto 2rem auto;
  width: 70%;
}

section.learn a {
  color: #faf3e8;
  background-color: #2a1f19;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 150ms ease-in-out;
}

section.learn a:hover {
  background-color: #c68a47;
}

/* -------------------------------
   Footer Section
--------------------------------- */
footer {
  background-color: #2f2726;
  color: #f8eadb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0;
  column-gap: 5rem;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

footer > section.about {
  width: 9rem;
}

footer > section > p.title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

footer > section > p.content {
  font-weight: 200;
  line-height: 1.6em;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

footer a {
  text-decoration: none;
  color: #f8eadb;
  display: inline-block;
  margin-bottom: 0.2rem;
}

footer a:hover {
  font-weight: 400;
  transition: 150ms ease-in-out;
}

footer .follow-us {
  display: flex;
  flex-direction: column;
}

footer .icons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

footer .follow-us img {
  width: 1.5rem;
  height: auto;
  margin-top: 0.3rem;
}

footer .copyright {
  flex-basis: 100%;
  text-align: center;
  border-top: 1px solid #e9e1d8;
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------
Tools and Equipment Page
------------------------------------------------------------------------------------------------------------------------------ */
.hero-tools {
  position: relative;
  background-image: url("../img/Tools Page/Hero Image.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding: 4rem 2rem 10rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8eadb;
}

.hero-tools::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 39, 38, 0.55);
  z-index: 0;
}

.hero-tools article {
  position: relative;
  z-index: 1;
  max-width: 50rem;
}

.hero-tools h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-tools p {
  font-weight: 200;
  margin-bottom: 2rem;
  font-size: 1rem;
  width: 40rem;
}

.hero-tools .button {
  text-decoration: none;
  text-transform: uppercase;
  color: #faf3e8;
  background-color: #c68a47;
  padding: 0.5rem 2rem;
  border-radius: 1.25em;
  transition: 150ms ease-in-out;
  font-size: 0.8rem;
  font-weight: 800;
}

.hero-tools .button:hover {
  color: #c68a47;
  background-color: #faf3e8;
  border: 0.1rem solid #c68a47;
}

/* -------------------------------
   The 5 Tools Every Begginner Needs
--------------------------------- */
body.tools-page {
  background-color: #faf3e8;
}
.tools-section {
  max-width: 65rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.tools-section h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #2f2726;
}

.tools-section h3 span {
  color: #c68a47;
}

.tool-item {
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding: 0;
  overflow: hidden;
  display: flow-root;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  height: 22rem;
}

.tool-item figure {
  float: left;
  width: 45%;
  margin: 0 2.5rem 0 0;
  line-height: 0;
  padding: 0;
}

.tool-item img {
  width: 100%;
  height: auto;
}

.tool-item h6 {
  font-size: 1.3rem;
  color: #3b2f25;
  margin-top: 1rem;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
}

.tools-section .button {
  display: inline-block;
  background-color: #2b241f;
  color: #fff;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  border-radius: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-top: 1rem;
  font-size: 0.8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tools-section .button:hover {
  transition: 150ms ease-in-out;
  background-color: #c68a47;
}

/* ----------------------------------------------------------------------------------------------------------------------------
Beans and Grinds Page
------------------------------------------------------------------------------------------------------------------------------ */
.hero-beans {
  position: relative;
  background-image: url("/img/Beans Page/Hero Image.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding: 4rem 2rem 10rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8eadb;
}

.hero-beans::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 39, 38, 0.55);
  z-index: 0;
}

.hero-beans article {
  position: relative;
  z-index: 1;
  max-width: 50rem;
}

.hero-beans h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-beans p {
  font-weight: 200;
  margin-bottom: 2rem;
  font-size: 1rem;
  width: 40rem;
}

.hero-beans .button {
  text-decoration: none;
  text-transform: uppercase;
  color: #faf3e8;
  background-color: #c68a47;
  padding: 0.5rem 1.8rem;
  border-radius: 1.25em;
  transition: 150ms ease-in-out;
  font-size: 0.8rem;
  font-weight: 600;
}

.hero-beans .button:hover {
  color: #c68a47;
  background-color: #faf3e8;
  border: 0.1rem solid #c68a47;
}

.choose-beans {
  text-align: center;
  background-color: #f7ede1;
  padding: 4rem 1rem;
}

.choose-beans h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #2b241f;
}

.choose-beans h3::after {
  content: "";
  display: block;
  width: 10rem;
  height: 2px;
  background-color: #c68a47;
  margin: 0.5rem auto 0;
}

.choose-beans h3 span {
  color: #c68a47;
}

.bean-card {
  color: #2f2726;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 18rem;
  vertical-align: middle;
  text-align: left;
  margin: 1rem;
  line-height: 0.8rem;
  position: relative;
  padding: 1rem 1.5rem 1.2rem 2rem;
}

.bean-card p.bean-name {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.bean-icon {
  width: 3rem;
  height: auto;
  vertical-align: middle;
  margin: 0 1rem;
}

.bean-card p.description {
  font-size: 0.89em;
}

/* ====== MATCHING GRIND SECTION ====== */

.matching-grind {
  text-align: center;
  background-color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.matching-grind h3 {
  font-size: 1.5rem;
  color: #2b241f;
  margin-bottom: 0.6rem;
}

.matching-grind h3 span {
  color: #c68a47;
}

.matching-grind .subtitle {
  font-size: 1.1rem;
  color: #4b3d34;
  margin: 0 0 2rem 0;
  font-weight: 300;
}

.grind-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fffaf4;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  text-align: center;
  table-layout: fixed; /* makes all columns equal width */
  width: 70%;
}

.grind-table thead th {
  background-color: #c68a47;
  color: #fff;
  font-weight: 600;
  padding: 1rem 1.2rem;
}

.grind-table td {
  padding: 1rem 1.2rem;
  color: #2b241f;
}

.grind-table tbody tr {
  background-color: #faf3e8;
}

.grind-table th,
.grind-table td {
  border-bottom: 1.5px solid #f8eadb;
  border-left: 1.5px solid #f8eadb;
}

.grind-table thead tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

.grind-table thead tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------
Classic Recipes Page
------------------------------------------------------------------------------------------------------------------------------ */

.hero-recipes {
  position: relative;
  background-image: url("../img/Recipes Page/Hero Image.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding: 4rem 2rem 10rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8eadb;
}

.hero-recipes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 39, 38, 0.55);
  z-index: 0;
}

.hero-recipes article {
  position: relative;
  z-index: 1;
  max-width: 50rem;
}

.hero-recipes h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-recipes p {
  font-weight: 200;
  margin-bottom: 2rem;
  font-size: 1rem;
  width: 35rem;
}

.hero-recipes .button {
  text-decoration: none;
  text-transform: uppercase;
  color: #faf3e8;
  background-color: #c68a47;
  padding: 0.5rem 2rem;
  border-radius: 1.25em;
  transition: 150ms ease-in-out;
  font-size: 0.8rem;
  font-weight: 800;
}

.hero-tools .button:hover {
  color: #c68a47;
  background-color: #faf3e8;
  border: 0.1rem solid #c68a47;
}

/* ====== RECIPES SECTION ====== */

.recipes {
  background-color: #f6f0e7;
  text-align: center;
  padding: 2rem 2rem;
}

.recipes h3 {
  font-size: 1.5rem;
  color: #2b241f;
  margin-bottom: 3rem;
}

.recipes h3 span {
  color: #c68a47;
}

.recipes h3::after {
  content: "";
  display: block;
  width: 30rem;
  height: 2px;
  background-color: #c68a47;
  margin: 1rem auto 0;
}

.cards {
  background-color: #f6f0e7;
  text-align: center;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.recipe-card {
  background-color: #fff;
  width: 20rem;
  margin: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
  height: 38rem;
  color: #2f2726;
}

.recipe-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  display: block;
}

.recipe-name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: #2b241f;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.recipe-subtitle {
  text-align: center;
  color: #6e5d4b;
  margin-bottom: 0.8rem;
  margin-top: 0;
}

.recipe-subtitle::after {
  content: "";
  display: block;
  width: 7rem;
  height: 1px;
  background-color: #2b241f;
  margin: 0.5rem auto 0;
}

.recipe-card .description {
  font-size: 0.9rem;
}

.recipe-card p,
.recipe-card ol {
  padding: 0 1rem;
}

.recipe-card ol {
  padding-left: 2rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------
Tecnniques Page
------------------------------------------------------------------------------------------------------------------------------ */
.hero-techniques {
  position: relative;
  background-image: url("../img/Techniques Page/Hero.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding: 4rem 2rem 10rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8eadb;
}

.hero-techniques::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 39, 38, 0.55);
  z-index: 0;
}

.hero-techniques article {
  position: relative;
  z-index: 1;
  max-width: 50rem;
}

.hero-techniques h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-techniques p {
  font-weight: 200;
  margin-bottom: 2rem;
  font-size: 1rem;
  width: 40rem;
}

.hero-techniques .button {
  text-decoration: none;
  text-transform: uppercase;
  color: #faf3e8;
  background-color: #c68a47;
  padding: 0.5rem 2rem;
  border-radius: 1.25em;
  transition: 150ms ease-in-out;
  font-size: 0.8rem;
  font-weight: 800;
}

.hero-tools .button:hover {
  color: #c68a47;
  background-color: #faf3e8;
  border: 0.1rem solid #c68a47;
}

.techniques {
  background-color: #f6f0e7;
  text-align: center;
  padding: 2rem 2rem;
}

.techniques h3 {
  font-size: 1.5rem;
  color: #2b241f;
  margin-bottom: 2rem;
}

.techniques h3 span {
  color: #c68a47;
}

.technique-card {
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  margin: 0 auto 2.5rem auto;
  padding: 1rem 2rem 1.5rem 2rem;
  max-width: 45rem;
  text-align: left;
}

.technique-card h4 {
  font-size: 1.3rem;
  color: #2b241f;
  margin-bottom: 0.8rem;
}

.technique-card h4 span {
  color: #c68a47;
}

.technique-card li {
  margin-bottom: 0.2rem;
}

.technique-image {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  margin-top: 1rem;
}
